@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    color: navy;
    border: none;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    background: rgb(240, 255, 255);
}
h1,h2,h3{
  scale: 1.2;
  background: none;
  padding: 0 10%;
}
body,html{
  margin: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#eef,#e3ecff,#ddf,#e3ecff,#eef);
}
div{ 
    margin-top: 5%;
    border-radius: 25px;
    text-align: center;
    width: 80%;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
}
.di{
  box-shadow: 0 0 10px rgba(0,0,100,0.5);
}
img{
    height: 150px;
    border-radius: 50%;
    padding: 5px;
}
select, button{
    appearance: none;
    padding: 10px;
    width: 13.1rem;
    background: none;
    border-radius: 0.25em;
    border: solid 2px navy;
    cursor: pointer;
    font-size: 20px;
}
.box{
    margin-top: 0;
    width: 50%;
    text-align: center;
    height: auto;
    border: solid 2px navy;
    padding: 30px;
}
.form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
.form label {
  position: relative;
}
.form label .input {
  font-size: 20px;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid navy;
  border-radius: 10px;
}
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.8em;
}
::placeholder{
  color: navy;
}
button{
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
button:hover{
    background: navy;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}
.material-symbols-outlined{
  margin-top: 20px;
}
.hr{
  transform: translateY(-135px);
}
.a{
  padding: 10px;
  line-height: 55px;
  }
.autor{
  scale: 1;
  padding: 3px;
  border-radius: 5px;
  width: 35%;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  color: navy;
  background: rgb(240, 255, 255);
  box-shadow: 0 0 5px rgba(0,0,100,0.5);
  margin-top: 50px;
  min-width: 350px;
}
